<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=320.1,minimum-scale=1.0,maximum-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <script type="text/javascript" src="javascripts/sea.js"></script>
  <title><%= title %></title>
</head>

<body>
  <div id="wrapper" class="news">
    <div class="index-view">
      <header class="header">
        <div class="toolbar">
          <div class="toolbar-l">
            <span class="btn-baidu ui-new-toolbar-btn"><a href="#"></a></span><span class="btn-userhome ui-new-toolbar-btn"><a href="#"></a></span>
          </div>
          <div class="toolbar-r">
            <span class="btn-search ui-new-toolbar-btn"><a href="#"></a></span><span class="btn-subscribe ui-new-toolbar-btn"><a href="#"></a></span>
          </div>
        </div>
      </header>
      <!-- /header -->
      <article class="view-content">
        <div class="index-navigator">
          <table class="cf">
            <tbody>
              <tr>
                <td class="nav-btn" value="recom"><b></b><span class="cur">推荐</span></td>
                <td class="nav-btn" value="baijia"><b></b><span>百家</span></td>
                <td class="nav-btn" value="local"><b></b><span>本地</span></td>
                <td class="nav-btn" value="img"><b></b><span>图片</span></td>
                <td class='nav-btn' value="fun"><b></b><span>娱乐</span></td>
                <td class="nav-btn" value="society"><b></b><span>社会</span></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div>
          <div class="index-content">
            <div class="swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="slide-img">
                    <img src="http://timg01.baidu-img.cn/timg?tc&amp;size=b438_274&amp;sec=0&amp;quality=75&amp;cut_x=54&amp;cut_y=0&amp;cut_h=0&amp;cut_w=438&amp;di=86bde462a8c495793dea26a7d2eaebc0&amp;src=http%3A%2F%2Fh.hiphotos.baidu.com%2Fnews%2Fcrop%253D0%252C24%252C548%252C274%2Fsign%3D8766043de124b899ca732378533631a7%2Fd53f8794a4c27d1e7d4515f913d5ad6eddc438af.jpg">
                  </div>
                  <h4 class="slide-title"><span>男子假冒军官与8女子办公室发生关系 全程录像</span></h4>
                </div>
                <div class="swiper-slide">
                  <div class="slide-img">
                    <img src="http://timg01.baidu-img.cn/timg?tc&amp;size=b708_443&amp;sec=0&amp;quality=75&amp;cut_x=89&amp;cut_y=0&amp;cut_h=0&amp;cut_w=708&amp;di=30bb934743139ceae820876ac94ac9f9&amp;src=http%3A%2F%2Fe.hiphotos.baidu.com%2Fnews%2Fcrop%253D11%252C123%252C887%252C443%2Fsign%3Dccb5b60c44086e067ee7650b3f394ad8%2Fe1fe9925bc315c60408441d285b1cb13495477fd.jpg">
                  </div>
                  <h4 class="slide-title"><span>深圳最牛钉子户拒2000万补偿 坚守十几年</span></h4>
                </div>
                <div class="swiper-slide">
                  <div class="slide-img"><img src="http://timg01.baidu-img.cn/timg?tc&amp;size=b766_479&amp;sec=0&amp;quality=75&amp;cut_x=95&amp;cut_y=0&amp;cut_h=0&amp;cut_w=766&amp;di=82ae903f0f220279b54cfe3c4d89f9a0&amp;src=http%3A%2F%2Fc.hiphotos.baidu.com%2Fnews%2Fcrop%253D0%252C136%252C958%252C479%2Fsign%3Db1c555cfdd62853586af8861addf5af7%2F0d338744ebf81a4c7b9ac3f4df2a6059252da666.jpg"></div>
                  <h4 class="slide-title"><span>菲青年团欲登黄岩岛插国旗照片曝光</span></h4>
                </div>
              </div>
              <div class="swiper-scrollbar"></div>
            </div>
            <div class="hotword swiper-hotword">
              <div class="hotword-left"><span>热点</span></div>
              <ul class="hotword-content swiper-wrapper">
                <li class="hotword-item swiper-slide">男子看欧洲杯气走媳妇</li>
                <li class="hotword-item swiper-slide">10省份进入周末“2.5天休假”模式</li>
                <li class="hotword-item swiper-slide">希拉里被曝私人手机授权空袭</li>
                <li class="hotword-item swiper-slide">巴菲特午餐拍卖得主或为中国人</li>
                <li class="hotword-item swiper-slide">俄球迷追打英球迷</li>
                <li class="hotword-item swiper-slide">28省份明确高温津贴发放标准</li>
                <li class="hotword-item swiper-slide">习近平就美国枪击案致电奥巴马</li>
                <li class="hotword-item swiper-slide">重庆超大马蜂窝</li>
              </ul>
            </div>
            <div class="index-content-items">
              <ul class="index-content-items-inner">
              </ul>
            </div>
          </div>
        </div>
      </article>
    </div>
    <div class="userhome-view">
      <header class="header">
        <div class="toolbar">
          <div class="toolbar-r rotate180">
            <div class="ui-new-toolbar-btn btn-back">
            </div>
          </div>
        </div>
      </header>
      <article class="view-content">
        <div class="index-navigator">
          <div class="user-photo">
            <div class="imgwrapper">
              <img src="http://himg.bdimg.com/sys/portrait/item/aa14686976616e6475700d">
            </div>
          </div>
          <div class="user-name"><span>hivandu</span></div>
        </div>
        <ul class="usercenter-mine">
          <li class="msg"><i></i>我的消息</li>
          <li class="favor"><i></i>我的收藏</li>
          <li class="interest"><i></i>兴趣模型</li>
          <li class="logout"><i></i>退出登录</li>
        </ul>
        <div class="usercenter-line">
        </div>
        <ul class="usercenter-setting">
          <li class="imagemode"><i></i>无图模式<i class="right"></i></li>
          <li class="touchmode on"><i></i>左右滑动<i class="right"></i></li>
        </ul>
      </article>
    </div>
    <div class="searchbox-view">
      <header class="header">
        <div class="toolbar">
          <div class="toolbar-l">
            <div class="ui-new-toolbar-btn btn-back">
            </div>
          </div>
        </div>
      </header>
      <article class="view-content">
        <div class="searchbox">
          <form action="" class="search-form" method="get">
            <div class="search">
              <input type="text" class="search-input" value="">
              <input type="submit" class="search-button" value="百度一下">
            </div>
          </form>
        </div>
        <div class="search-hotword">
          <h2 class="hotword-title">热搜榜</h2>
          <ul class="hotword-items">
            <li class="hotword-item">习近平将厨房塞尔维亚等国</li>
            <li class="hotword-item">上海迪士尼开幕</li>
            <li class="hotword-item">中国公开“航母杀手”训练情况</li>
            <li class="hotword-item">渔民将母鲨鱼“剖腹产”</li>
            <li class="hotword-item">深圳钉子户坚守16年</li>
            <li class="hotword-item">国务院公布盐改方案</li>
            <li class="hotword-item">中国钢企每吨钢利润1元</li>
            <li class="hotword-item">女生自行滴眼药几乎失明</li>
            <li class="hotword-item">探访中国海南“光棍村”</li>
            <li class="hotword-item">40城宜居指数北京最低</li>
          </ul>
        </div>
      </article>
    </div>
    <div class="subscribe-view"></div>
  </div>
  <script type="text/javascript">
  seajs.config({
    base: './javascripts',
  })
  seajs.use('main');
  </script>
</body>

</html>
